Dialogs are saved in XML format

Elements:
<dialogs> - body of the whole file
<npc> - info about a npc
<dialog> - one dialog, can contain multiple pages
<page> - one page of text
<choice> - gives player choice


Note: If you talk to character more times, that is the count of all conversations, the last text is repeated.

Example file:
<dialogs sellerName="Seller name">
    <npc name="Jeff" distanceFromStart="0">
        <dialog>
            <page message="Hello this is dialog test"/>
            <page message="Do you like this game?">
                <choice message="Yes">
                    <page message="Great!"/>
                </choice>
                <choice message="No">
                    <page message="Why?">
                        <choice message="Just because">
                            <page message="Ok"/>
                        </choice>
                        <choice message="Because I don't like it">
                            <page message="At least you're honest"/>
                        </choice>
                    </page>
                </choice>
            </page>
        </dialog>
    </npc>
</dialogs>